.lineBetween {
   background-color: gray;
   height: 5px; 
   padding-left: 25%;
   margin: 0 -10px; 
   font-size: 0.5rem;
   z-index: -1;
   
}

.iconProgress {
    background-color: gray; 
    padding: 10px; 
    border-radius: 50% ; 
    z-index: 100;
   
}

.FontAwesomeIcon{
    color: white ;
    font-size: 20px;

}