.payment-wrapper{
    font-size: 1rem;
}
span{
    position:sticky;
}

select{
    border: 1px solid rgb(162, 159, 159);
    border-radius: 5px;
    width: 100px;
    height: 2rem;
   margin-left: 25px;
}

.paymentForm{
    /* padding: 25px;
    height: auto;
    min-height: 80vh;
    font-size: 1rem;
    display: flex;
    height: 100%;
    gap: 20px; */

    display: grid;
    grid-template-columns: minmax(750px, 800px) minmax(250px, 300px);
    font-size: 1rem;
    column-gap: 25px;
    padding: 10px;
    
}

.payment-info,
.summary {
    padding: 25px;
    box-shadow: 1px 1px 10px 0.25px lightgrey;
    border-radius: 8px;
    min-height: 80vh;
    height: auto;
}

.summary {
    flex: 25%;
}
.payment-info
{
    flex: 75%;
}

.payment-info-wrapper{
    margin-top: 25px;
    text-align: left;
    padding: 30px;
    box-shadow: 1px 1px 10px 0.25px lightgrey;
    min-height: 80vh;
}

.payment-summary-wrapper {
    position: relative;
   
    min-height: 100px;
   
}

.payment-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    position: absolute;
    left: 0;
}

.options-wrapper{
    margin: 50px 0;
}

.individual-total {
    position: absolute;
    top: 80%;
    right: 0;
}