.categories {
    display: grid;
    grid-template-columns: repeat(6, 100px);
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }

   
  
  
  .categories-list {
    /* float: left;
    display: block; */
    color: white;
    /* text-align: center; */
    padding: 10px;
    cursor: pointer;
  }

  .active
 {   color: tomato;
    /* background-color: tomato; */
  }

  
  
 
  .categories-list:hover {
    color: tomato;
    /* background-color: tomato; */
    
  }

  @media screen and (max-width: 768px){
    .categories {
      grid-template-columns: repeat(auto-fill, 100px);
    }
  }